<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
	<link rel='stylesheet' href='/css/style.css'> 
	<title>CRUD Node.js</title>
</head>
<body>
	{{{ body }}} 	
	<script src='/js/javascript.js'> </script>
</body>
</html> 
